* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #feffdf;
    --secondary: #dde0ab;
    --third: #97cba9;
    --fourth: #668BA4;
}

body {
    background-color: var(--primary);
    color: var(--fourth);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
}

.question-container {
    text-align: center;
    margin: 20px;
    align-self: center;
}

.title {
    line-height: 1.8;
    font-size: 40px;
}

.text {
    line-height: 1.8;
    margin: 20px;
}

.btn {
    background-color: #668BA4;
    color: #dde0ab;
    font-size: 22px;
    border-radius: 10%;
    padding: 10px;
}

.countdown {
    float: right;
}

.btn-answer {
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}